.container {
  max-width: 600px;
}
#main-app {
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  margin-top: 10px;
  padding: 30px;
  border-radius: 5%;
}

form .search-engine {
  max-width: fit-content;
  float: left;
}

.btn {
  margin-left: 8px;
  transition: all 200ms ease-in-out;
  width: 40px;
}
:hover.btn {
  background-color: #a8edea;
  border-color: #a8edea;
}

header {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 30px;
}

h1 {
  font-size: 80px;
  line-height: 60px;
  padding-bottom: 10px;
}

h2 {
  font-size: 35px;
  line-height: 25px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
  text-transform: capitalize;
}
h4 {
  font-size: 17px;
  line-height: 10px;
}

.current-weather {
  margin-top: 30px;
  text-align: center;
}
.current-weather i {
  font-size: 100px;
}
.current-weather .temperature {
  font-size: 60px;
  line-height: 65px;
  position: relative;
  left: 24px;
}
.current-weather .units {
  font-size: 15px;
  position: relative;
  bottom: 24px;
}

.units a {
  text-decoration: none;
}
.units .active {
  color: black;
  cursor: default;
}

.card {
  background-color: transparent;
  border: none;
}
.card-body {
  padding: 5px;
  text-align: center;
}
#hourly-forecast {
  padding: 10px 0 10px 0;
}
#hourly-forecast .card-body i {
  font-size: 30px;
}
#hourly-forecast .card-body h6 {
  font-size: 14px;
}
#hourly-forecast .card-body p {
  font-size: 13px;
  line-height: 8px;
}

#daily-forecast .card-body i {
  font-size: 35px;
  padding: 8px;
}
#daily-forecast .card-body h6 {
  font-size: 15px;
}
#daily-forecast .card-body p {
  font-size: 13px;
  line-height: 10px;
}

#github-link a {
  text-decoration: none;
  color: #fa98b7;
}
