.container {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  max-width: 600px;
  padding: 40px;
  border-radius: 5%;
}

form .search-engine {
  max-width: fit-content;
  float: left;
}

.btn {
  margin-left: 10px;
  border-color: #a8edea;
  transition: all 200ms ease-in-out;
}
:hover.btn {
  background-color: #a8edea;
  border-color: #a8edea;
}

header {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 30px;
}

h1 {
  font-size: 80px;
  line-height: 60px;
  padding-bottom: 10px;
}

h2 {
  font-size: 35px;
  line-height: 25px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
}

.current-weather {
  margin-top: 30px;
  text-align: center;
}
.current-weather i {
  font-size: 100px;
}
.current-weather .temperature {
  font-size: 50px;
  position: relative;
  left: 26px;
}
.current-weather .units {
  font-size: 15px;
  position: relative;
  bottom: 24px;
}
